numpy==1.24
setuptools
absl-py
astor
gast
grpcio
imageio
Markdown
mido
Pillow
pretty-midi
protobuf
pypianoroll
PyYAML
scipy
SharedArray
six
tensorboard
tensorflow-gpu
termcolor
Werkzeug
flask
scikit-learn
librosa
imageio
